---
import Layout from '../layouts/Layout.astro';
import Template from "@/components/templates/PrincipalTemplate.astro";
---

<Layout title="Homepage">
  <Template>
    <div slot="header">
      <h1>Pomohub</h1>
    </div>
    <div slot="main">
      <p>Main</p>
    </div>
    <div slot="footer">
      <p>Footer</p>
    </div>
  </Template>
</Layout>
